.download {
  position: relative;
  width: 90%;
  margin: 200px auto;
}
.content {
  max-width: 500px;
  text-align: center;
  margin: auto;
}
.content h1 {
  color: #282634;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 15px;
}
.content p {
  color: #9fa0a5;
  line-height: 1.8rem;
  max-width: 450px;
  margin: auto;
}
.cards {
  width: 100%;
  margin-top: 40px;
}
.card {
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  margin: 0 auto 40px auto;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.103);
}
.card h2 {
  margin: 30px 0 10px 0;
  font-weight: 500;
}
.card p {
  color: #9fa0a5;
}
.btn_container {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  padding-top: 25px;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
}
.btn_container a {
  display: inline-block;
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.171);
  background: #5268e2;
  border: solid #5268e2 2px;
}
.btn_container a:hover {
  background: transparent;
  color: #5268e2;
}
@media screen and (min-width: 1200px) {
  .download {
    width: 1100px;
    margin: 150px auto;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
  .card {
    margin: auto;
    width: 100%;
  }
  .card:nth-of-type(1) {
    margin-top: 0;
  }
  .card:nth-of-type(2) {
    margin-top: 40px;
  }
  .card:nth-of-type(3) {
    margin-top: 80px;
  }
}
