.features {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  margin: 200px auto;
}
.features_content h1 {
  color: #282634;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 15px;
}
.features_content p {
  color: #9fa0a5;
  line-height: 1.8rem;
  max-width: 90%;
  margin: auto;
}
.features_options {
  margin: 40px auto;
  width: 100%;
  list-style: none;
  text-align: center;
}
.features_options li {
  position: relative;
  padding: 20px 0;
  border-top: solid 1px rgb(224, 224, 224);
  cursor: pointer;
}
.features_options li.selected::after {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 5px;
  background: #fb585b;
}
.features_options li:last-child {
  border-bottom: solid 1px rgb(224, 224, 224);
}
.features_content {
  position: relative;
  text-align: center;
}
.features_option_content {
  margin-top: 80px;
}
.features_option_content h2 {
  color: #282634;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 30px;
}
.features_option_content p {
  color: #9fa0a5;
  line-height: 1.8rem;
  max-width: 90%;
  margin: auto;
}
.features_option_content a {
  display: none;
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.171);
  background: #5268e2;
  margin-top: 20px;
  border: solid #5268e2 2px;
}
.features_option_content a:hover {
  background: transparent;
  color: #5268e2;
}
.features_option {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.features_option_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.features_image {
  position: relative;
}
.bg_shape {
  position: absolute;
  border-bottom-right-radius: 500px;
  border-top-right-radius: 500px;
  z-index: -1;
  left: 0;
  top: 70px;
  width: 65%;
  height: 250px;
  background: #5266df;
}
@media screen and (min-width: 1200px) {
  .features {
    margin: 100px auto;
  }
  .features_content p {
    max-width: 450px;
    margin: auto;
  }
  .features_options {
    display: flex;
    justify-content: center;
    max-width: 700px;
    border-bottom: solid 1px rgb(224, 224, 224);
  }
  .features_options li {
    padding: 20px 30px;
    border: 0;
  }
  .features_options li:last-child {
    border: 0;
  }
  .features_option {
    padding: 30px 0;
  }
  .features_option_container {
    width: 1100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .features_option_content {
    text-align: left;
    margin-top: 0;
  }
  .features_option_content p {
    max-width: 450px;
    margin: 0;
  }
  .features_option_content a {
    display: inline-block;
  }
  .bg_shape {
    width: 45%;
    top: auto;
    bottom: 0;
  }
}
@media screen and (max-width: 400px) {
  .bg_shape {
    width: 65%;
    height: 150px;
    top: 60px;
  }
}
