.navbar {
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.logo {
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}
.logo.hide {
  opacity: 0;
}
.hamburger_container {
  position: relative;
  display: flex;
  z-index: 200;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 25px;
  height: 25px;
}
.hamburger {
  background: black;
  width: 25px;
  height: 3px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.hamburger::before {
  transform: translateY(-8px);
}
.hamburger::after {
  transform: translateY(8px);
}
.hamburger_container.open .hamburger {
  transform: translateX(-20px);
  background: transparent;
}
.hamburger_container.open .hamburger::before {
  transform: rotate(45deg) translate(15px, -15px);
  background: white;
}
.hamburger_container.open .hamburger::after {
  transform: rotate(-45deg) translate(15px, 15px);
  background: white;
}
@media screen and (min-width: 1200px) {
  .navbar {
    display: none;
  }
}
